@import '../../../styles/variables.module';

.carousel {
  margin-bottom: 10px;

  .indicatorActive {
    color: $theme-palette-primary-main;
  }
  .imagemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
.h3 {
  text-align: center;
  margin-bottom: 16px !important;
}
