@import '../../../styles/variables.module';

.card {
  position: relative;
  border-radius: 6px;
  background-color: $theme-palette-background-paper;

  .gridItemBox {
    padding: 10px;
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .imagem {
      margin-bottom: 30px;
      width: 100%;
    }

    .h4 {
      text-align: center;
    }
    .ul {
      padding-left: 20px;

      .li::marker {
        color: $theme-palette-primary-main;
      }
    }
  }
}
